body {
  background-color: white;
  overflow: hidden;
  cursor: none;
}

h1 {
  color: #333333;
  font-size: 1.2rem;
  font-family: "Helvetica";
  z-index:99;
  line-height: 1.4rem;
}

a{
  color: #333333;
  font-size: 1.2rem;
  font-family: "Helvetica";
  cursor: none;
  text-decoration: none;
}

#header{
  width: 100vw;
  height: auto;
  position: fixed;
  top: 10px;
}


#body-copy{
  color: #333333;
  font-size: 1.4rem;
  line-height: 1.9rem;
  font-family: "Helvetica";
  width: 40vw;
  margin-left: 10px;
  margin-top: 80px;
}

p:hover{
  z-index: 10000000000;
}

#info:hover{
  border-radius: 0px;
}


#info{
  position: fixed;
  right: 22px;
  background-color: white;
  border: solid 1px #333333;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top:10px;
  position: absolute;
  z-index: 10000000;
  border-radius: 20px;
}

#info:hover{
  border-radius: 0px;
  transition: 0.25s;
  z-index: 10000000;

}

#specimen{
  position: fixed;
  right: 160px;
  background-color: white;
  border: solid 1px #333333;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top:10px;
  text-align: right;
  position: absolute;
  border-radius: 20px;
  z-index: 10000000;

}

#specimen:hover{
  border-radius: 0px;
  transition: 0.25s;
  z-index: 10000000;

}

#title{
  position: fixed;
  left: 15px;
  background-color: white;
  border: solid 1px black;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top:10px;
  border-radius: 20px;
  z-index: 10000000;

}

#title:hover{
  border-radius: 0px;
  transition: 0.25s;
  z-index: 10000000;
}

/* CLASSES FOR LETTER MODULES */

.trapezoid-top{
  border-top: 30vh solid #14ad2d;
  border-left: 20vh solid transparent;
  border-right: 20vh solid transparent;
  height: 0;
  width: 200px;
  position: absolute;
}
.trapezoid-bottom{
  position: absolute;
  border-bottom: 30vh solid #ffd62c;
  border-left: 17vh solid transparent;
  border-right: 17vh solid transparent;
  height: 0;
  width: 200px;
}

/* CURSOR */

#cursor{
  pointer-events: none;
  width: 20px;
  height:20px;
  border-radius: 100%;
  position: absolute;
  top:0;
  left: 0;
  z-index: 10000;
}



/* CONTAINER */


.inner-container{
  width: 100%;
  height: 100vh;
}

.a-rectangle-bottom-right{
  position: absolute;
  width: 63vh;
  height: 34vh;
  background-color:#ffcad5;
  padding: 5px;
  z-index: -100;
}

.a-circle-bottom-left{
  position: absolute;
  top: 272px;
  left: -34px;
  width: 45vh;
  height: 45vh;
  border-radius: 100%;
  background-color:#ffd62c;
  z-index: -100;
}
